.container-att {
    display: flex;
    justify-content: space-between;
}
.attendance-nav {
    padding: 15px;
    width: 100%;
}

/* .attendance-nav ul { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0 15px;
    width: 60%;
}

.attendance-nav a {
    text-decoration: none;
    color: #000000;
    font-size: 14px; 
    border-left: 2px solid #efe28a;
}

.attendance-nav a:hover {
    color: #a29439;
    padding: 0 15px;
}

.attendance-nav li {
    height: 5%;
    margin: 5px;
    padding: 0 15px;
    cursor: pointer;
} */

.attendance-container {
    width: 100%;
    max-height: 65vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* background-color: #ff0000; */
}

.attendance-barcode {
    /* position: fixed;
    right: 0;
    top: 30%;
    bottom: 0; */
    padding: 15px;
}

.attendance-barcode img {
    width: 250px;
    height: auto; 
}