.summary-quick {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: 0;
}

.quick-stats {
    background-color: #6589ae;
    color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    /* display: flex; */
    align-items: center; 
}

.flex {
    display: flex;
    align-items: center;
    gap: 20px;
}