.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background-color: aliceblue;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
}

.back-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
    background-color: tomato;
}

.profile {
    width: 150px;
    height: 150px;
}

.profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.edit-icon {
    position: relative;
    top: -30px;
    left: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 14px;
    width: 30px;
}

.card {
    height: 200px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: inset 0.5px 0.5px 1px 1px  rgba(0,0,0,0.3);
}

.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.item:last-child{
    border-bottom:none;
}
