.header{
    display: flex;
    justify-content: space-between;
    }
 
 .edit-btn{
    background:#2f7c8d;
    color:white;
    padding:14px 28px;
    border:none;
    border-radius:10px;
    font-size:15px;
    text-decoration: none;
    cursor:pointer;
    display:flex;
    align-items:center;
    gap:12px;
    transition:0.3s;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
    }

.edit-btn:hover{
    background:#256775;
    transform:scale(1.03);
    }

.table_container {
    overflow-y: auto;
    height: 60vh;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th {
    background: #4f7c8a;
    color: white;
    padding: 10px;
}
td {
    background: #e6eef2;
    padding: 10px;
    text-align: center;
}
td:first-child {
    background: #4f7c8a;
    color: white;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}