* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    color: black;
    line-height: 1.6;
}

.header {
    width: 100%;
    color: #000000;
    padding: 50px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-branding {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 60px;
}
 
.chart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 24px;
    margin: 5px;
}

.header p {
    font-size: 18px;
    margin: 5px;
}
/* appInformation End */

/* flashcard Start */
.summary-card {
    width: 100%;
    padding: 0 10px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

.stat-card {
    min-height: 90px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    text-align: left;
    background-color: #6589ae;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0.5px 0.5px 1px 1px  rgba(0,0,0,0.3);
}

.stat-card img {
    margin: 15px;
    width: 20px;
}

.stat-card h3 {
    margin: 0;
    font-size: 12px;
    font-weight: lighter;
}
/* flashcard End */

.container {
    width: 100%;
    height: 60vh;
    margin: 20px 0;
    margin-bottom: 0;
    padding: 20px;
    background-color: #ffdd00;
}

.nav-bottom {
    width: 100%;
    margin-top: 0;
}

.nav-bottom ul {
    width: 60%;
    height: 10vh;
    margin: auto;
    border-radius: 50px;
    list-style: none;
    display: flex;
    gap: 5px;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    background-color: #6589ae;
}
    
.nav-bottom a {
    text-decoration: none;
}

.nav-bottom li {
    padding: 15px;
    cursor: pointer;
}

.nav-bottom li:hover {
    background-color: #efe28a;
    border-radius: 50px;
    box-shadow: inset 0.5px 0.5px 1px 1px  rgba(0,0,0,0.3);
}

.nav-bottom li img {
    width: 20px;
    vertical-align: middle;
}
