* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    color: black;
    line-height: 1.6;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25%;
    height: 100vh;
    box-shadow:  0 0 3px 3px rgba(0,0,0,.3);
}

header nav {
    position: relative;
    margin: auto 25px;
}

.logo {
    display: block;
    width: 130px;
    margin: 15px auto;
}

header ul {
    margin: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li {
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
}

header ul li:hover {
    background-color: #FEE79D;
    box-shadow: inset 1px 1px 3px 3px  rgba(0,0,0,.3);
}

header ul li a {
    text-decoration: none;
}

.img-profile {
    width: 45px;
    height: 45px;
    border-radius:50%;
    margin: auto;
}

.icon {
    width: 20px;
    margin: auto;
}

/* appInformation Start */
.appInformation {
    width: 75%;
    min-height: 10%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.classCode {
    display: flex;
    gap:30px;
}
/* appInformation End */

/* flashcard Start */
.flashcard {
    width: 75%;
    min-height: 20%;
    position: absolute;
    top: 10%;
    right: 0;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-card {
    display: flex;
    gap: 10px;
    border-radius: 5px;
    background-color: #375c78;
    box-shadow: 1px 1px 3px 3px  rgba(0,0,0,.3);
    color: white;
    padding: 30px 20px;
}
/* flashcard End */

/* Container Dashboard Start */
.container {
    width: 75%;
    min-height: 70%;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 10px;
}
/* Container Dashboard End */